img {
  height: 3.4rem;
}

.header {
  justify-content: left;
  height: 12%;
  background-color: #0d0850;
}

span {
  display: flex;
  align-items: left;
}

.textotoolbar {
  padding-left: 1.5rem;
  color: cornsilk;
  font-size: 1.4rem;
}
